---
layout: page
permalink: about.html
title: About Us
---

<div class="about">

    <!-- TITLE START -->
    <div class="about__title title title--center title--border mb-50">
        <h1>
            About Us
        </h1>
    </div>
    <!-- TITLE END -->

    <!-- ABOUT CONTENT START -->
    <div class="container container--wrapper">
        <div class="about__content">
            <div class="about__content__paragraph">
                <p>
                    Our story began in 2001, when we organized our first community 
                    cleanup, the week we sold our first t-shirt. With a strong sense 
                    of community and a moral responsibility, our brand was born. 
                    Our passion for the environment and unique design brought our 
                    vision, and products, to life.
                </p>
            </div>
            <div class="about__content__paragraph">
                <img src="assets/image/about/about.jpg">
            </div>
            <div class="about__content__paragraph">
                 <h3>
                     WELCOME TO OUR WORLD
                 </h3>
            </div>
            <div class="about__content__paragraph">
                <p>
                   In 10 years of creating apparel, we’ve learned what works and 
                   what doesn’t. Our commitment to using sustainable materials 
                   doesn’t place fit and function on the back burner; 
                   on the contrary, our store is proof that you can create a 
                   great-fitting, long-lasting product with the exclusive use 
                   of materials that are environmentally and ethically sourced.
                </p>
            </div>
        </div>
    </div>
    <!-- ABOUT CONTENT END -->



</div>