---
layout: page
permalink: blog-details.html
title: Blog Details
---

<div class="container container--wrapper">
    <div class="main-blog">

        <!-- MAIN BLOG TITLE START -->
        <div class="main-blog__title mb-75">
            <div class="title title--border title--center mb-20">
                <h5>
                    THE BIG LAUNCH
                </h5>
            </div>

            <div class="paragraph paragraph--center">
                <span>
                    March 9, 2020
                </span>
            </div>

        </div>
        <!-- MAIN BLOG TITLE END -->

        <!-- MAIN BLOG BODY START -->
        <div class="main-blog__body blog-body">
            <!-- BLOG ITEM START -->
            <div class="blog-body__item">
                <!-- BLOG IMG START -->
                <div class="blog-body__item__img">
                    <img src="assets/image/blog/blog1.png" alt="blog-img">
                </div>
                <!-- BLOG IMG END -->

                <!-- BLOG CONTENT START -->
                <div class="blog-body__item__details blog-details">

                    <div class="blog-details--paragraph">
                        <div class="paragraph paragraph--left">
                            <span>
                                We started with a mission to prove that
                                a for-profit company could do serious,
                                dirty conservation work. After 10 years
                                of waterway cleanups, we’ve become intimately
                                aware of the damage caused by single use
                                plastics.
                            </span>
                        </div>
                    </div>

                    <div class="blog-details--quote">
                        <div class="paragraph paragraph--center">
                            <div class="quote">
                                “We’ve built our business on a set of deeply
                                rooted personal values - sustainability, quality
                                and community. Without your support, that last
                                one wouldn’t be possible.”
                            </div>
                        </div>
                    </div>

                    <div class="blog-details--paragraph">
                        <div class="paragraph paragraph--left">
                            <span>
                                Our launch was, in a way, the next step in our
                                journey to
                                sustainability. It was not only the perfect time
                                to showcase
                                our new collections, but a way to celebrate our
                                fundamental
                                truth... that living sustainably by stopping
                                pollution at its
                                source is possible.
                            </span>
                        </div>
                    </div>

                    <div class="blog-details--paragraph">
                        <div class="paragraph paragraph--left">
                            <span>
                                It felt like a dream come true to finally be
                                able to launch
                                with all of you celebrating alongside with us.
                                Inspired by
                                your enthusiasm, our product teams have already
                                begun
                                planning what’s next in our fashion line by
                                sourcing
                                sustainable fabrics and outdoor-friendly
                                designs.
                            </span>
                        </div>
                    </div>

                    <div class="blog-details--paragraph">
                        <div class="paragraph paragraph--left">
                            <span>
                                We just want to say thanks to everyone who has
                                supported
                                us on our journey. We can’t wait to share our
                                new products
                                and ideas with you very soon. Stay updated on
                                our upcoming
                                news and events here, or follow us on Instagram
                                and Facebook.
                                Here’s to a better planet for all of our
                                tomorrows!
                            </span>
                        </div>
                    </div>

                </div>
                <!-- BLOG CONTENT END -->

                <div class="underscore">
                    <span></span>
                </div>

                <!-- COMMENT START -->
                <div class="blog-body__item__comment blog-comment">

                    <!-- TITLE START -->
                    <div class="blog-comment__title title title--center mb-50">
                        <h4><span>1</span> COMMENT</h4>
                    </div>
                    <!-- TITLE END -->

                    <!-- BLOG COMMENT BODY START -->
                    <div class="blog-comment__body comment">
                        <div class="comment__item">
                            <!-- INFO START -->
                            <div class="comment__item__info comment-info">

                                <div class="comment-info__name">
                                    WILLIAM
                                </div>

                                <div class="comment-info__date">
                                    MARCH 25, 2020
                                </div>
                            </div>
                            <!-- INFO END -->

                            <!-- CONTENT START -->
                            <div class="comment__item__content">
                                <p>
                                    Congratulations on your successful launch!
                                    May your business be prosperous with many
                                    years to come.
                                </p>
                            </div>
                            <!-- CONTENT END -->

                        </div>
                    </div>
                    <!-- BLOG COMMENT BODY END -->

                </div>
                <!-- COMMENT END -->

                <div class="underscore">
                    <span></span>
                </div>

                <!-- FORM START -->
                <form action="#" method="post">
                    <div class="blog-body__item__form item-form">

                        <!-- TITLE START -->
                        <div class="item-form__title title title--center mb-50">
                            <h4>
                                LEAVE A COMMENT
                            </h4>
                        </div>
                        <!-- TITLE END -->

                        <div class="item-form__input">
                            <!-- FORM INPUT START -->
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6
                                    col-xxl-6 input-child">
                                    <input type="text" name="name" required
                                        placeholder="Name">
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6
                                    col-xxl-6">
                                    <input type="text" name="email" required
                                        placeholder="Email">
                                </div>
                            </div>
                            <!-- FORM INPUT END -->

                            <!-- FORM INPUT START -->
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12
                                    col-xl-12 col-xxl-12">
                                    <textarea name="mess"
                                        placeholder="Messenger">

                                    </textarea>
                                </div>
                            </div>
                            <!-- FORM INPUT END -->

                            <div class="item-form__note">
                                <p>
                                    Please note, comments must be approved
                                    before they are published
                                </p>
                            </div>

                            <div class="item-form__button">
                                <button type="submit" class="btn btn--custom
                                    btn--small btn--primary">
                                    Post Comment
                                </button>
                            </div>

                            <div class="item-form__link">
                                <a href="blog.html">
                                    <i class="fal fa-long-arrow-left"></i><span>BACK
                                        TO BLOG</span>
                                </a>
                            </div>
                        </div>






                    </div>
                </form>
                <!-- FORM END -->

            </div>
            <!-- BLOG ITEM END -->
        </div>
        <!-- MAIN BLOG BODY END -->

    </div>
</div>