---
layout: page
permalink: blog.html
title: Blog
---

<div class="container container--wrapper">
    <div class="main-blog">

        <!-- MAIN BLOG TITLE START -->
        <div class="main-blog__title title title--border title--center mb-50">
            <h1>
                <span>Blog</span><i class="fas fa-wifi"></i>
            </h1>
        </div>
        <!-- MAIN BLOG TITLE END -->

        <!-- MAIN BLOG BODY START -->
        <div class="main-blog__body blog-body">
            <!-- BLOG ITEM START -->
            <div class="blog-body__item">
                <!-- BLOG IMG START -->
                <div class="blog-body__item__img">
                    <img src="assets/image/blog/blog1.png" alt="blog-img">
                </div>
                <!-- BLOG IMG END -->

                <!-- BLOG CONTENT START -->
                <div class="blog-body__item__content blog-content">

                    <!-- DATE START -->
                    <div class="blog-content__date">
                        <div class="title title--border title--left">
                            <h3>
                                March 9, 2020
                            </h3>
                        </div>
                    </div>
                    <!-- DATE END -->

                    <!-- CONTENT START -->
                    <div class="blog-content__body">

                        <!-- TITLE START -->
                        <div class="blog-content__body__title">
                            <div class="title title--left">
                                <h4>
                                    <a href="blog-details.html">
                                        THE BIG LAUNCH
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <!-- TITLE END -->

                        <!-- PARAGRAPH START -->
                        <div class="blog-content__body__desc">
                            <p>
                                We’ve built our business on a set of deeply rooted personal 
                                values - sustainability, quality and community. 
                                Without your support, that last one wouldn’t be possible.
                            </p>
                        </div>
                        <!-- PARAGRAPH END -->

                        <div class="blog-content__body__link">
                            <a href="blog-details.html" class="">
                                <span>Continue Reading</span> <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                    <!-- CONTENT END -->

                </div>
                <!-- BLOG CONTENT END -->
            </div>
            <!-- BLOG ITEM END -->
        </div>
        <!-- MAIN BLOG BODY END -->
        
    </div>
</div>