---
layout: root
permalink: checkout.html
title: Checkout
---
<div class="checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6
                no-padding">
                <div class="checkout__part checkout__part--form">

                    <div class="checkout__part__inner checkout-inner">

                        <!-- TITLE START -->
                        <div class="checkout-inner__title title title--left">
                            <h6>
                                <a href="index.html">
                                    bklyn
                                </a>
                            </h6>

                            <div class="title__breadcrum">
                                <span><b>Information</b></span>
                                <i class="fal fa-chevron-right"></i>
                                <span>Shipping</span>
                                <i class="fal fa-chevron-right"></i>
                                <span>Payment</span>
                            </div>
                        </div>
                        <!-- TITLE END -->

                        <!-- FORM START -->
                        <div class="checkout-inner__form">
                            <div class="form">
                                <form action="#" method="post">

                                    <!-- FORM GROUP START -->
                                    <div class="form-group">
                                        <!-- TITLE START -->
                                        <div class="form-group__title">
                                            <h2>
                                                Contact Infomartion
                                            </h2>
                                        </div>
                                        <!-- TITLE END -->

                                        <input type="text" name="email"
                                            class="form-control
                                            form-control--inner"
                                            placeholder="Email or phone number"
                                            required>

                                        <!-- CHECKBOX START -->
                                        <div class="form-group__label">
                                            <label class="form-label"
                                                for="news">
                                                <span
                                                    class="form-group__label__checkbox">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span
                                                    class="form-group__label__text">
                                                    Email me with news and
                                                    offers
                                                </span>
                                            </label>
                                            <input type="checkbox" hidden
                                                id="news" name="save">
                                        </div>
                                        <!-- CHECKOUT END -->
                                    </div>
                                    <!-- FORM GROUP END -->

                                    <!-- FORM GROUP START -->
                                    <div class="form-group">

                                        <!-- TITLE START -->
                                        <div class="form-group__title">
                                            <h2>
                                                Shipping address
                                            </h2>
                                        </div>
                                        <!-- TITLE END -->

                                        <!-- INPUT START -->
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6
                                                col-lg-6 col-xl-6 col-xxl-6">
                                                <input name="first-name"
                                                    class="form-control
                                                    form-cotnrol--inner"
                                                    placeholder="First name
                                                    (optional)">
                                            </div>
                                            <div class="col-sm-12 col-md-6
                                                col-lg-6 col-xl-6 col-xxl-6">
                                                <input name="last-name"
                                                    class="form-control
                                                    form-cotnrol--inner"
                                                    placeholder="Last name
                                                    (optional)">
                                            </div>
                                        </div>
                                        <!-- INPUT END -->

                                        <!-- INPUT START -->
                                        <input name="add"
                                            class="form-control
                                            form-cotnrol--inner"
                                            placeholder="Address">
                                        <!-- INPUT END -->

                                        <!-- INPUT START -->
                                        <input name="etc"
                                            class="form-control
                                            form-cotnrol--inner"
                                            placeholder="Apartment, suite,
                                            etc.(optional)">
                                        <!-- INPUT END -->

                                        <!-- INPUT START -->
                                        <input name="city"
                                            class="form-control
                                            form-cotnrol--inner"
                                            placeholder="City">
                                        <!-- INPUT END -->

                                        <!-- INPUT START -->
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4 clg-4
                                                col-xl-4 col-xxl-4">
                                                <select name="county"
                                                    class="form-control
                                                    form-control--inner">
                                                    <option>
                                                        Country/Region
                                                    </option>
                                                    <option>
                                                        Ha Noi
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 col-md-4 clg-4
                                                col-xl-4 col-xxl-4">
                                                <select name="county"
                                                    class="form-control
                                                    form-control--inner">
                                                    <option>
                                                        Country/Region
                                                    </option>
                                                    <option>
                                                        Ha Noi
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 col-md-4 clg-4
                                                col-xl-4 col-xxl-4">
                                                <input type="text" name="postal"
                                                    class="form-control
                                                    form-control--inner"
                                                    placeholder="Postal code">
                                            </div>
                                        </div>
                                        <!-- INPUT END -->

                                        <!-- CHECKBOX START -->
                                        <div class="form-group__label">
                                            <label for="save"
                                                class="form-label">
                                                <span
                                                    class="form-group__label__checkbox">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span
                                                    class="form-group__label__text">
                                                    Save this information for
                                                    next time
                                                </span>
                                            </label>
                                            <input type="checkbox" id="save"
                                                hidden
                                                name="save">
                                        </div>
                                        <!-- CHECKOUT END -->

                                    </div>
                                    <!-- FORM GROUP END -->

                                    <!-- BUTTON START -->
                                    <div class="form-group">
                                        <button class="btn btn--primary
                                            btn--xxl">
                                            Continue to shipping
                                        </button>
                                    </div>
                                    <!-- BUTTON END -->
                                </form>
                            </div>
                        </div>
                        <!-- FORM END -->
                        <div class="checkout-inner__auth border-top">
                            <span>All rights reserved BKLYN</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6
                no-padding">
                <div class="checkout__part checkout__part--cart checkout-cart">
                    <div class="checkout-cart__inner">
                        <!-- LIST PRODUCT START -->
                        <div class="checkout-cart__product border-bottom
                            cart-padding">
                            <div class="checkout-cart__product__item
                                cart-prodcut">
                                <div class="cart-product__info">

                                    <!-- IMG START -->
                                    <div class="cart-product__info__img
                                        border">
                                        <span>1</span>
                                        <img
                                            src="assets/image/checkout/checkout1.jpg">
                                    </div>
                                    <!-- IMG END -->

                                    <!-- INFO START -->
                                    <div class="cart-info__wraps">
                                        <div class="cart-product__info__name">
                                            <h3>Albright Rain Shell</h3>
                                        </div>
                                        <div class="cart-product__info__type">
                                            <h4>
                                                S
                                            </h4>
                                        </div>
                                    </div>
                                    <!-- INFO END -->

                                </div>

                                <!-- PRICE START -->
                                <div class="cart-product__price">
                                    $<span>128</span>.00
                                </div>
                                <!-- PRICE END -->
                            </div>
                        </div>
                        <!-- LIST PRODUCT END -->

                        <!-- CART INFO START -->
                        <div class="checkout-cart__info border-bottom
                            cart-padding">
                            <table>
                                <tr>
                                    <td class="td-left">
                                        <span>
                                            Subtotal
                                        </span>
                                    </td>
                                    <td class="td-right">
                                        <span>
                                            <b>
                                                $128
                                            </b>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-left">
                                        <span>
                                            Shipping
                                        </span>
                                    </td>
                                    <td class="td-right">
                                        <span>
                                            Calculated at next step
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- CART INFO END -->

                        <!-- CHECKOUT TOTAL START -->
                        <div class="checkout-cart__total cart-padding">
                            <div class="checkout-cart__total__inner">
                                <h3>
                                    Total
                                </h3>

                                <div class="total-inner__price">
                                    <span>
                                        CAD
                                    </span>

                                    <span><p> $128</p></span>

                                </div>
                            </div>
                            <!-- CHECKOUT TOTAL END -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>