---
layout: page
permalink: contact.html
title: Contact
---

<div class="contact">

    <!-- TITLE START -->
    <div class="contact__title title title--center title--border mb-50">
        <h1>
            Contact Us
        </h1>
    </div>
    <!-- TITLE END -->

    <!-- CONTACT CONTENT START -->
    <div class="container container--wrapper">
        <div class="contact__content">

            <!-- IMG START -->
            <div class="contact__content__paragraph">
                <img src="assets/image/contact/contact.jpg">
            </div>
            <!-- IMG END -->

            <!-- TABLE START -->
            <div class="contact__content__paragraph contact-paragrap">
                <div class="contact-paragraph__item">
                    <a href="#">
                        575 Viger Ouest
                    </a>
                    <span>
                        Mon - Fri, 10am - 9am
                    </span>
                </div>
                <div class="contact-paragraph__item">
                    <p>
                        Montreal, Canada
                    </p>
                    <span>
                        Saturday, 10am -10pm
                    </span>
                </div>
                <div class="contact-paragraph__item">
                    <p>
                        (514) 841-0100
                    </p>
                    <span>
                        Sunday, 11am - 6pm
                    </span>
                </div>
                <div class="contact-paragraph__item
                    contact-paragraph__item--border">
                    <span></span>
                </div>
            </div>
            <!-- TABLE END -->

            <!-- FORM START -->
            <div class="contact__content__paragraph">
                <h3>
                    GET IN TOUCH
                </h3>
                <form action="#" method="post">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6
                                col-xxl-6">
                                <input type="text" name="name" required
                                    placeholder="Name">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6
                                col-xxl-6">
                                <input type="email" name="email" required
                                    placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="phone" required
                            placeholder="Phone number">
                    </div>

                    <div class="form-group">
                        <textarea rows="10" id="ContactFormMessage"
                            class="input-full" name="contact[Message]"
                            placeholder="Message"></textarea>
                    </div>

                    <div class="form-group form-group--contact">
                        <button class="btn btn--custom btn--primary btn--small">
                            SEND
                        </button>
                    </div>
                </form>
            </div>
            <!-- FORM START -->

        </div>
    </div>
    <!-- CONTACT CONTENT END -->



</div>