---
layout: home
permalink: index.html
title: Trang chủ
---
<div class="home">
    <div class="container container--wrapper">

        <!-- HOME PARAGRAPH START -->
        <div class="home__paragraph">
            <div class="paragraph paragraph--center">
                <p>
                    Our products are inspired by the people and world around us.
                    Beautiful, high quality goods that are designed especially
                    for
                    you.
                    Discover <a href="#">our story</a> and meet the people that
                    make
                    our
                    brand what it
                    is.
                </p>
            </div>
        </div>
        <!-- HOME PARAGRAPH END -->

        <!-- HOME FEATURE START -->
        <div class="home__feature">

            <!-- TITLE START -->
            <div class="home__feature__title mb-50">
                <div class="title title--center title--border">
                    <h1>
                        Featured Collections
                    </h1>
                </div>
            </div>
            <!-- TITLE END -->

            <!-- FEATURE CONTENT START -->
            <div class="home__feature__content home-feature">
                <div class="row">
                    {% for item in site.data.home-feature limit: 2 %}
                    <!-- FEATURE ITEM START -->
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6
                        no-padding">
                        <div class="home-feature__wraps">
                            <a href="{{item.link}}" class="home-feature__item">
                                <div class="home-feature__item__inner
                                    item-inner"
                                    style="background-image:
                                    url({{item.img_path}});">
                                    <div class="item-inner__modal">
                                        <span>
                                            {{item.text}}
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- FEATURE ITEM END -->
                    {% endfor %}
                </div>

                <div class="row">
                    {% for item in site.data.home-feature offset: 2 %}
                    <!-- FEATURE ITEM START -->
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4
                        no-padding">
                        <div class="home-feature__wraps">
                            <a href="{{item.link}}" class="home-feature__item">
                                <div class="home-feature__item__inner
                                    item-inner"
                                    style="background-image:
                                    url({{item.img_path}});">
                                    <div class="item-inner__modal">
                                        <span>
                                            {{item.text}}
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- FEATURE ITEM END -->
                    {% endfor %}
                </div>

            </div>
            <!-- FEATURE CONTENT END -->

        </div>
        <!-- HOME FEATURE END -->

        <!-- HOME COLLECTION START -->
        <div class="home__collection">
            <!-- COLLECTION TITLE START -->
            <div class="home__collection__title mb-50">
                <div class="title title--border title--center">
                    <h1>
                        Feature Collection
                    </h1>
                </div>
            </div>
            <!-- COLLECTION TITLE END -->

            <!-- COLLECTION CONTENT START -->
            <div class="home__collection__content home-collection">
                <div class="row">
                    {% for item in site.data.home-collection %}
                    <!-- COLLECTION ITEM START -->
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4
                        no-padding">
                        <div class="home-collection__item">
                            <a href="#">

                                <!-- COLLECTION ITEM IMG START -->
                                <div class="home-collection__item__img">
                                    <img src="{{item.img_path}}">
                                </div>
                                <!-- COLLECTION ITEM IMG END -->

                                <!-- COLLECTION ITEM INFO START -->
                                <div class="home-collection__item__info
                                    collection-item">

                                    <!-- COLLECTION ITEM NAME START -->
                                    <span class="collection-item__name">
                                        {{item.name}}
                                    </span>
                                    <!-- COLLECTION ITEM NAME END -->
                                    <span class="collection-item__separrate">
                                        <i class="fal fa-horizontal-rule"></i>
                                    </span>
                                    <!-- COLLECTION ITEM PRICE START -->
                                    <span class="collection-item__price">
                                        <i class="far fa-dollar-sign"></i>{{item.price}}
                                    </span>
                                    <!-- COLLECTION ITEM PRICE END -->

                                </div>
                                <!-- COLLECTION ITEM INFO END -->


                            </a>
                        </div>
                    </div>
                    <!-- COLLECTION ITEM END -->
                    {% endfor %}
                </div>
            </div>
            <!-- COLLECTION CONTENT END -->

        </div>
        <!-- HOME COLLECTION END -->

        <!-- HOME PRODUCT START -->
        <div class="product">
            <div class="row">
                <!-- HOME PRODUCT IMG START -->
                <div class="col-sm-6 col-md-7 col-lg-7 col-xl-7 col-xxl-7
                    no-padding">
                    <div class="product__img">
                        <img src="assets/image/product/home-product.jpg"
                            alt="home-product">
                    </div>
                </div>
                <!-- HOME PRODUCT IMG END -->

                <!-- HOME PRODUCT CONTENT START -->
                <div class="col-sm-6 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                    <div class="product__content">
                        <!-- HOME PRODUCT CONTENT TITLE START -->
                        <div class="product__content__title">
                            <div class="title title--center title--border">
                                <h2>
                                    Let’s Get Lost Enamel 12 oz. Mug
                                </h2>
                                <div class="price price--center mt-15">
                                    <span class="price__home">
                                        <i class="fal fa-dollar-sign"></i>20.00
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- HOME PRODUCT CONTENT TITLE END -->

                        <!-- HOME PRODUCT CONTENT BUTTON START -->
                        <div class="product__content__button">
                            <a href="#" class="btn btn--light btn--custom
                                btn--large">
                                Add to cart
                            </a>
                            <span></span>
                            <a href="#" class="btn btn--primary btn--custom
                                btn--large">
                                Buy it now
                            </a>
                        </div>
                        <!-- HOME PRODUCT CONTENT BUTTON END -->

                        <div class="product__content__link">
                            <a href="product-detais.html">
                                <span>Full details</span>
                                <i class="far fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- HOME PRODUCT CONTENT END -->
            </div>
        </div>
        <!-- HOME PRODUCT END -->
    </div>

    <!-- HOME FORM CONTACT START -->
    <div class="home__contact">
        <div class="container container--wrapper">
            <div class="home__contact__form contact-form">
                <!-- FORM TITLE START -->
                <div class="contact-form__title">
                    <div class="title title--center title--border">
                        <h1>
                            Subscribe to our newsletter
                        </h1>
                        <div class="paragraph">
                            <span>
                                Sign up for our email list and get 15% off
                                your first order
                            </span>
                        </div>
                    </div>
                </div>
                <!-- FORM TITLE END -->

                <!-- FORM INPUT START  -->
                <form action="#" method="post">
                    <div class="contact-form__input">
                        <input type="email" name="email"
                            placeholder="Your Email">
                        <button type="submit" class="btn btn--primary
                            btn--custom btn--small">
                            <span class="btn__text">
                                Subscribe
                            </span>
                            <span class="btn__icon">
                                <i class="far fa-long-arrow-alt-right"></i>
                            </span>
                        </button>
                    </div>
                </form>
                <!-- FORM INPUT END -->
            </div>
        </div>
    </div>
    <!-- HOME FORM CONTACT END -->

</div>