---
layout: page
permalink: men.html
title: Men
---

<div class="main-product">
    <div class="container container--wrapper">

        <!-- PRODUCT TITLE START -->
        <div class="main-product__title">
            <div class="title title--center title--border">
                <h1>
                    Men
                </h1>
            </div>
        </div>
        <!-- PRODUCT TITLE END -->

        <!-- PRODUCT SORT START -->
        <div class="main__product__select">
            <span>
                Sort by
            </span>

            <select name="sorting">
                {% for item in site.data.product-sorting %}
                <option>
                    {{item.text}}
                </option>
                {% endfor %}
            </select>
        </div>
        <!-- PRODUCT SORT END -->

        <!-- PRODUCT TAB START  -->
        <div class="main__product__tab main-product">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for item in site.data.men-nav limit: 5 %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {{item.status}}" id="{{item.id}}"
                        data-bs-toggle="tab" data-bs-target="#{{item.target}}"
                        type="button" role="tab"
                        aria-controls="{{item.control}}"
                        aria-selected="true">{{item.text}}</button>
                </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="myTabContent">

                <!-- CONTENT START -->
                {% for item in site.data.men-nav limit: 5 %}
                <div class="tab-pane fade {% if item.status == 'active' %} show
                    active
                    {%
                    endif %}" id="{{item.target}}" role="tabpanel"
                    aria-labelledby="{{item.id}}">

                    <div class="row">
                        {% for item in site.data.men %}
                        <!-- ITEM START -->
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4
                            col-xxl-4 no-padding">
                            <div class="main-product__item">
                                <a href="product-details.html">
                                    <!-- ITEM IMG START -->
                                    <div class="main-product__item__img
                                        {{item.label}}
                                        {% if item.label != '' %} label {% endif
                                        %}
                                        {{item.label}}">

                                        <!-- LABEL START -->
                                        {% if item.label != '' %}
                                        <span class="{{item.label}}">
                                            {% if item.label == 'save' %} Save
                                            $12 {% endif %}
                                            {% if item.label == 'out' %} sold
                                            out {% endif %}
                                        </span>
                                        {% endif %}
                                        <!-- LABEL END -->
                                        <img src="{{item.img_path}}">
                                    </div>
                                    <!-- ITEM IMG END -->

                                    <!-- ITEM INFO START -->
                                    <div class="main-product__item__info
                                        item-info">
                                        <!-- ITEM INFO NAME START -->
                                        <span class="item-info__name">
                                            {{item.name}}
                                        </span>
                                        <!-- ITEM INFO NAME END -->

                                        <span
                                            class="collection-item__separrate">
                                            <i class="fal fa-horizontal-rule"></i>
                                        </span>

                                        <!-- ITEM INFO PRICE START -->
                                        <span class="item-info__price">
                                            <i class="far fa-dollar-sign"></i>{{item.price}}
                                        </span>
                                        <!-- ITEM INFO PRICE END -->

                                    </div>
                                    <!-- ITEM INFO END -->
                                </a>
                            </div>
                        </div>
                        <!-- ITEM END -->
                        {% endfor %}
                    </div>

                </div>
                {% endfor %}
                <!-- CONTENT END -->
            </div>
            <!-- PRODUCT TAB END -->

        </div>
    </div>