---
layout: page
permalink: policy.html
title: Return Policy
---
<div class="extra-page">
    
    <!-- TITLE START -->
    <div class="extra-page__title title title--center title--border mb-50">
        <h1>
            Return policy
        </h1>
    </div>
    <!-- TITLE END -->

    <!-- CONTENT START -->
    <div class="container container--wrapper">
        <div class="extra-page__content">
            {% for item in site.data.extra-page limit: 6 %}
            <div class="extra-page__content__paragraph">
                <h5>
                    {{item.text}}
                </h5>
                <p>
                    {{item.content}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- CONTENT END -->
</div>
