---
layout: page
permalink: product-details.html
title: Product details
---

<!-- HOME PRODUCT START -->
<div class="product product--details">
    <div class="container container--wrapper">
        <div class="row">
            <!-- HOME PRODUCT IMG START -->
            <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                <div class="product__img product__img--list">
                    <video controls>
                        <source src="assets/image/product/Preview.mp4">
                    </video>

                    {% for item in site.data.men %}
                    <img src="{{item.img_path}}"
                        alt="home-product">
                    {% endfor %}
                </div>

                <div class="product__img product__img--slide">
                    <div class="product__img__slide">
                        <video controls>
                            <source src="assets/image/product/Preview.mp4">
                        </video>

                        {% for item in site.data.men %}
                        <div class="product__img__item">
                            <img src="{{item.img_path}}"
                                alt="home-product">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="product__img__control">
                        <button id="product-img-prev"><i class="far
                                fa-long-arrow-alt-left"></i></button>
                        <ul></ul>
                        <button id="product-img-next"><i class="far
                                fa-long-arrow-alt-right"></i></button>
                    </div>

                </div>


            </div>
            <!-- HOME PRODUCT IMG END -->

            <!-- HOME PRODUCT CONTENT START -->
            <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                <div class="product__content">
                    <form action="#" method="post">

                        <!-- HOME PRODUCT CONTENT TITLE START -->
                        <div class="product__content__title">
                            <div class="title title--center title--border">
                                <h2>
                                    Let’s Get Lost Enamel 12 oz. Mug
                                </h2>
                                <div class="price price--center mt-15">
                                    <span class="price__old">
                                        <i class="fal fa-dollar-sign"></i>200.00
                                    </span>
                                    <span class="price__current">
                                        <i class="fal fa-dollar-sign"></i>138.00
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- HOME PRODUCT CONTENT TITLE END -->

                        <!-- PRODUCT DETAILS TYPE START -->
                        <div class="product__content__type product-type">
                            <div class="product-type__label">
                                Size
                            </div>

                            <!-- LIST BUTTON START -->
                            <div class="product-type__button">
                                <input type="hidden" name="type"
                                    id="product-type" value="">
                                <ul>
                                    {% for item in
                                    site.data.product-details-size %}
                                    <li>
                                        <button class="{{item.class}}">{{item.text}}</button>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- LIST BUTTON END -->

                        </div>
                        <!-- PRODUCT DETAILS TYPE END -->

                        <!-- HOME PRODUCT CONTENT BUTTON START -->
                        <div class="product__content__button">

                            <a type="submit" href="#" id="add-to-cart"
                                class="btn btn--light
                                btn--custom
                                btn--large">
                                Add to cart
                            </a>
                            <span></span>
                            <a type="submit" href="#" class="btn btn--primary
                                btn--custom
                                btn--large">
                                Buy it now
                            </a>

                        </div>
                        <!-- HOME PRODUCT CONTENT BUTTON END -->

                        <!-- PRODUCT DESCRIPTION START -->
                        <div class="product__content__desc">
                            <p>
                                This is a demonstration store.
                                You can purchase products like this from <a
                                    href="#">United By Blue</a>.
                            </p>

                            <p>
                                A deceptively light, recycled polyester
                                backpack.
                                Drawstring closure, additional opening in the
                                front to easily access supplies.
                                DWR finish. Lifetime guarantee.
                            </p>

                            <ul>
                                {% for item in site.data.product-details-text %}
                                <li>
                                    {{item.text}}
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                        <!-- PRODUCT DESCRIPTION END -->

                    </form>
                </div>
            </div>
            <!-- HOME PRODUCT CONTENT END -->
        </div>
    </div>
</div>
<!-- HOME PRODUCT END -->