---
layout: page
permalink: Search.html
title: Search
---

<div class="search">

    <!-- TITLE START -->
    <div class="search__title title title--border title--center mb-50">
        <h1>
            Search
        </h1>
    </div>
    <!-- TITLE END -->

    <!-- FORM START -->
    <div class="container container--wrapper">
        <div class="search__form">
            <form action="#" method="post">
                <div class="search__from__inner">
                    <input type="text" name="search" placeholder="Search" required>
                    <button class="btn btn--custom btn--primary btn--small">
                        <i class="far fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- FORM END -->

</div>