<div class="cart" id="main-cart">

    <!-- CART TITLE START -->
    <div class="cart__title">
        <span>
            Your cart
        </span>

        <button id="close-cart">
            <i class="fal fa-times"></i>
        </button>
    </div>
    <!-- CART TITLE END -->

    <!-- CART NO PRODUCT START -->
    <p style="display: none;">
        Your cart is currently empty.
    </p>
    <!-- CART NO PRODUCT END -->

    <!-- CART WITH PRODUCT START -->
    <form action="#" method="post">

        <!-- CART BODY START -->
        <div class="cart__body">
            <!-- CART ITEM START -->
            <div class="cart__body__container">
                <div class="cart__body__item cart-item">
                    <div class="cart-item__wraps">

                        <!-- ITEM IMG START -->
                        <div class="cart-item__wraps__img">
                            <img src="assets/image/cart/cart1.jpg">
                        </div>
                        <!-- ITEM IMG END -->

                        <!-- ITEM BODY START -->
                        <div class="cart-item__wraps__body item">
                            <!-- ITEM NAME START -->
                            <div class="item__name">
                                <a href="product-details.html">
                                    Albright Rain Shell
                                </a>
                            </div>
                            <!-- ITEM NAME END -->

                            <!-- ITEM TYPE START -->
                            <div class="item__type">
                                <span>
                                    S
                                </span>
                            </div>
                            <!-- ITEM TYPE END -->

                            <!-- ITEM INFO START -->
                            <div class="item__info">

                                <div class="item__info__count">
                                    <span id="decrement">
                                        <i class="fal fa-minus"></i>
                                    </span>

                                    <input id="product-count" min="1"
                                        type="text" value="1" name="count">
                                    <span id="increment">
                                        <i class="fal fa-plus"></i>
                                    </span>
                                </div>

                                <div class="item__info__price">
                                    $<span id="cart-item-price">12</span>.00
                                </div>

                            </div>
                            <!-- ITEM INFO END -->
                        </div>
                        <!-- ITEM BODY END -->
                    </div>
                </div>
            </div>
            <!-- CART ITEM END -->
        </div>
        <!-- CART BODY END -->

        <!-- CART FOOTER START -->
        <div class="cart__footer">

            <!-- SUBTOTAL START -->
            <div class="cart__footer__subtotal">
                <p>
                    SUBTOTAL
                </p>
                <p>
                    $<span>128</span>.00
                </p>
            </div>
            <!-- SUBTOTAL END -->

            <!-- NOTE START -->
            <div class="cart__footer__note">
                <p>
                    Taxes and shipping calculated at checkout
                </p>
            </div>
            <!-- NOTE END -->

            <!-- BUTTON START -->
            <a type="submit" class="btn btn--custom btn--out">
                CHECKOUT <i class="fas fa-long-arrow-right"></i>
            </a>
            <!-- BUTTON END -->

        </div>
        <!-- CART FOOTER END -->
    </form>
    <!-- CART WITH PRODUCT END -->

</div>