<footer>
    <div class="footer">

        <div class="underscore">
            <span></span>
        </div>

        <div class="footer__list">
            <div class="container container--wrapper">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4
                        no-padding">
                        <ul>
                            {% for item in site.data.footer-items limit: 5 %}
                            <li>
                                <a href="{{item.link}}">
                                    {{item.text}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4
                        no-padding">
                        <ul>
                            {% for item in site.data.footer-items offset: 5
                            limit: 3 %}
                            <li>
                                <a href="{{item.link}}">
                                    {{item.text}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4
                        no-padding">
                        <ul>
                            {% for item in site.data.footer-items offset: 8 %}
                            <li class="footer__list--right">
                                <a href="{{item.link}}">
                                    {{item.text}}
                                </a>
                            </li>
                            {% endfor %}
                            <li class="footer__list--right">
                                {% for item in site.data.footer-svg %}
                                <div class="footer__list__icon">
                                    {{item.text}}
                                </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</footer>