<div id="header-sidebar" class="header-sidebar">
    <div class="header-sidebar__larger">
        <ul>
            {% for item in site.data.header-nav limit: 6 %}
            <li>
                <a href="{{item.link}}">
                    {{item.text }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="header-sidebar__small">
        <ul>
            {% for item in site.data.header-nav offset: 6 %}
            <li>
                <a href="{{item.link}}">
                    {{item.text }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
