 <div class="container container--wrapper">

    <!-- DEFAULT HEADER START -->
    <div class="header__nav header__nav--large">
        <div class="row">
            <!-- LOGO START -->
            <div class="col-lg-3 col-xl-3 col-xxl-3">
                <div class="header__nav__logo nav-logo">
                    <div class="nav-logo__inner">
                        <h1>
                            <a href="index.html">
                                Bklyn
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
            <!-- LOGO END -->

            <!-- MENU START -->
            <div class="col-lg-9 col-xl-9 col-xxl-9">
                <div class="header__nav__menu nav-menu">
                    <ul>
                        {% for item in site.data.header-nav limit: 6 %}
                        <!-- HEADER MENU ITEM START -->
                        <li>
                            <a class="nav-menu__link {% if item.link ==
                                page.permalink %}
                                active {% endif %}" href="{{item.link}}">
                                {{item.text}}
                            </a>
                        </li>
                        <!-- HEADER MENU ITEM END -->
                        {% endfor %}
                        <li>
                            <a href="#" id="search">
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                        <li class="nav-menu__cart">
                            <span></span>
                            <a href="#" id="cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- MENU END -->

        </div>
    </div>
    <!-- DEFAULT HEADER END -->

    <!-- MOBILE HEADER START -->
    <div class="header__nav header__nav--small header-small">
        <div class="header-small__wraps">
            <button id="open-header">
                <i class="fal fa-bars bars"></i>
                <i class="far fa-times times"></i>
            </button>

            <div class="header-small__logo">
                <a href="index.html">
                    BKLYN
                </a>
            </div>

            <button id="open-cart" class="header-small__wraps--cart">
                <span></span>
                <i class="fas fa-shopping-cart"></i>
            </button>
        </div>
    </div>
    <!-- MOBILE HEADER END -->

</div>