<!-- JQUERY -->
<script src="assets/js/jquery/jquery-3.2.1.min.js"></script>
<!-- SLICK -->
<script src="assets/slick/slick/slick.js"></script>
<!-- BOOTSTRAP 5 -->
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- FONT AWESOME -->
<script src="assets/font-awesome/js/pro.min.js"></script>
<!-- JS LOCAL FILE -->
<script src="assets/js/main.js"></script>
