$white-color: #fff;
$primary-color:#1F2021;
$background-color: #f6f6f6;
$text-color: #000;
$label-color: #A56600;
$transition-time: .3s;
$mobile-s : "only screen and (min-width: 320px) and (max-width: 374.99px)";
$mobile-m : "only screen and (min-width: 375px) and (max-width: 424.99px)";
$mobile-l : "only screen and (min-width: 425px) and (max-width: 589.99px)";
$mobile-xl : "only screen and (min-width: 590px) and (max-width: 767.99px)";
$tablet : "only screen and (min-width: 768px) and (max-width: 991.99px)";
$laptop-m : "only screen and (min-width: 992px) and (max-width: 1023.99px)";
$laptop : "only screen and (min-width: 1024px) and (max-width: 1999px)";

$sidebar-width: 400px;


@mixin mobile-s() {
    @media #{$mobile-s} {
        @content;
    }
}

@mixin mobile-m() {
    @media #{$mobile-m} {
        @content;
    }
}

@mixin mobile-l() {
    @media #{$mobile-l} {
        @content;
    }
}

@mixin mobile-xl() {
    @media #{$mobile-l} {
        @content;
    }
}

@mixin tablet() {
    @media #{$tablet} {
        @content;
    }
}

@mixin laptop-m() {
    @media #{$laptop-m} {
        @content;
    }
}

@mixin laptop() {
    @media #{$laptop} {
        @content;
    }
}

.input-child {
    @media (max-width: 768px) {
        margin-bottom: 10px;
    }
}

html {
    font-size: 62.5%
}

body {
    font-size: 16px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mb-20 {
    margin-bottom: 20px;
}

.container--wrapper {
    max-width: 1050px;
    padding: 0 30px;

    @media (max-width: 590px) {
        padding: 0 15px;
    }
}

.container--no-padding {
    @media (max-width: 780px) {
        padding: 0;
    }

    padding: 0;
}

.paragraph {
    font-family: 'Arapey', sans-serif;

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    p {
        font-family: inherit;
        font-size: 1.9rem;
        color: $primary-color;
        margin: 0;

        a {
            color: $label-color;
        }
    }

    span {
        font-family: inherit;
        font-size: 1.6rem;
        color: $primary-color;

    }

    .quote {
        font-size: 2.6rem;
        font-style: italic;
    }
}

.price {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0 5px;

    &__home {
        color: $primary-color;
    }

    &__old {
        margin: 0 5px;
        color: $primary-color;
        text-decoration: line-through;
    }

    &__current {
        margin: 0 5px;
        color: $label-color;
    }

    &--center {
        text-align: center;
    }
}

.no-padding {
    padding: 0;
}



.title {
    font-family: 'Old Standard TT', sans-serif;
    color: $primary-color;

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;

        @media (max-width: 567.98px) {
            text-align: center;
        }

        &::after {
            left: 0 !important;
            transform: translateX(0) !important;

            @media (max-width: 567.98px) {

                left: 50% !important;
                transform: translateX(-50%) !important;
            }
        }
    }

    &--border {
        padding-bottom: 32px;
        position: relative;

        &::after {
            content: "";
            width: 50px;
            height: 1px;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    h1 {
        font-size: 3rem;
        margin: 0;

        i {
            transform: rotate(45deg);
            font-size: 1.8rem;
        }
    }

    h2 {
        font-size: 3.6rem;
        margin: 0;
    }

    h3 {
        font-size: 1.6rem;
        font-family: 'Arapey', sans-serif;
        font-style: italic;
    }

    h4 {
        font-size: 2.3rem;
        font-family: 'Montserrat', sans-serif;
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: 600;
    }

    h5 {
        font-size: 3rem;
        text-transform: uppercase;
    }

    h6 {
        font-size: 2.8rem;
        color: #333;
        text-transform: uppercase;
    }
}

.form-group {
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    border: none;
    background-color: $background-color;
    padding: 8px 10px;
    font-family: 'Arapey', sans-serif;
    font-style: italic;
    font-size: 2rem;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    transition: $transition-time;
    letter-spacing: .1em;
}

.btn--primary {
    background-color: $primary-color;
    color: $white-color;

    &:hover {
        color: $primary-color;
        background-color: $white-color;
        border: 1px solid $primary-color;
    }
}

.btn--light {
    background-color: $white-color;
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
        color: $white-color;
        background-color: $primary-color;
    }
}

.btn--large {
    padding: 12px 30px;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn--xxl {
    padding: 20px 24px;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn--custom {
    text-transform: uppercase;
}

.btn--small {
    font-size: 1.3rem;
    padding: 12px 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .1em
}

.btn--out {
    width: 100%;
    background-color: $label-color;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    color: $white-color;
    font-weight: 600;
    padding: 12px 20px
}

.cart-padding {
    padding: 10px 0 21px;
}

.td-left {
    text-align: left
}

.td-right {
    text-align: right
}

@import 'header/main-header.scss';
@import 'header/main-header-sidebar.scss';
@import 'body/main-root.scss';
@import 'footer/main-footer.scss';
@import 'layout/layout-default.scss';
@import 'layout/layout-home.scss';