footer {
    .footer {

        &__list {
            ul {
                padding: 0 0 0 30px;
                list-style: none;

                @media (max-width: 575.98px) {
                    padding: 0;
                }

                li {
                    margin-bottom: 4px;
                    display: flex;

                    @media (max-width: 575.98px) {
                        justify-content: center !important;
                    }

                    a {
                        text-decoration: none;
                        color: $primary-color;
                        font-size: 1.6rem;
                        font-family: 'Arapey', sans-serif;
                    }
                }

                .footer__list--right {
                    justify-content: flex-end;
                }
            }
        }

    }

}

.underscore {
    margin: 60px 0;
    // text-align: center;

    span {
        display: block;
        width: 50px;
        height: 1px;
        background-color: $primary-color;
        margin: auto;
    }
}