.header-sidebar {
    position: fixed;
    z-index: 1000;
    width: $sidebar-width;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $primary-color;
    padding: 10px 0;
    transition: $transition-time;
    transform: translateX(-100%);
    overflow: auto;

    @media (max-width: 589.98px) {
        width: 300px;
    }

    &.active {
        transform: translateX(0);
    }

    .header-sidebar__larger {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                width: 100%;
                margin: 0;
                padding: 15px;

                a {
                    font-size: 2.2rem;
                    font-family: 'Arapey', sans-serif;
                    text-decoration: none;
                    color: $white-color;

                }
            }
        }
    }

    .header-sidebar__small {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                width: 100%;
                margin: 0;
                padding: 10px 15px;

                a {
                    font-size: 1.6rem;
                    font-family: 'Arapey', sans-serif;
                    text-decoration: none;
                    color: $white-color;
                }
            }
        }
    }
}