.header {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;

    &--hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;

        a {
            color: $white-color !important;

            // &.active {
            //     color: $label-color;
            // }

            &:hover {
                opacity: .6;
            }
        }

        .header-small__wraps {
            button {
                color: $white-color !important
            }
        }
    }

    &--page {
        margin-bottom: 80px;

        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    .header__nav {

        &--large {
            @media (max-width: 1035.99px) {
                display: none;
            }
        }

        &--small {
            display: none;

            @media (max-width: 1035.99px) {
                display: block;
            }

            .header-small__wraps {

                // padding: 15px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header-small__logo {
                    a {
                        text-decoration: none;
                        font-size: 2.5rem;
                        font-family: 'Montserrat', sans-serif;
                        color: $primary-color;
                        letter-spacing: .2em;
                    }
                }

                .header-small__wraps--cart {
                    position: relative;

                    span {
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: green;
                        position: absolute;
                        top: -2px;
                        right: 2px;
                    }
                }

                button {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: $primary-color;
                    // font-size: 1.4rem;
                    // width: 50px;
                    // height: 50px;

                    .times {
                        display: none;
                    }

                    &.active {

                        .times {
                            display: block;
                        }

                        .bars {
                            display: none;
                        }

                    }


                    i {
                        font-size: 2.4rem
                    }
                }
            }
        }

        a {
            text-decoration: none;
            color: $text-color;
            transition: $transition-time;
        }

        .header__nav__logo,
        .nav-logo__inner {
            height: 100%;
        }

        .nav-logo__inner {
            display: flex;
            align-items: center;
        }

        h1 {
            margin: 0;

        }

        a {
            font-family: 'Montserrat', sans-serif;
            font-size: 2.5rem;
            text-transform: uppercase;
            // line-height: 2.5rem;
            font-weight: 600;

        }

        .header__nav__menu {
            ul {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        display: block;
                        padding: 15px;
                        text-transform: uppercase;
                        font-family: inherit;
                        letter-spacing: .1em;
                        font-weight: 600;
                        font-size: 1.4rem;

                    }
                }

                .nav-menu__cart {
                    position: relative;

                    span {
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-color: green;
                        border-radius: 50%;
                        position: absolute;
                        top: 14px;
                        right: 10px;
                    }
                }
            }
        }
    }
}