.main-product {
    .main-product__title {
        margin-bottom: 20px;
    }

    .main__product__select {
        font-family: 'Arapey', sans-serif;
        text-align: center;
        font-style: italic;
        color: $primary-color;
        margin-bottom: 40px;

        span {
            font-size: 1.6rem;
            margin-right: 5px;
        }

        select {
            padding: 8px 28px 8px 10px;
            font-size: 1.8rem;
            font-style: italic;
            background-color: $background-color;
            border: none;
            min-height: 2.2rem;

            option {
                // font-size: 1.8rem;

                font-size: inherit;
                font-family: inherit;
                font-style: inherit;
            }
        }
    }

    .main__product__tab {


        ul {
            display: flex;
            justify-content: center;
            border: none;
            margin-bottom: 75px;

            @media (max-width: 589.98px) {
                flex-direction: column;
                align-items: center;
                margin-bottom: 55px;
            }

            li {
                button {
                    border: none;
                    color: $primary-color;
                    font-size: 1.3rem;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;

                    &.active {
                        color: $label-color;
                    }
                }
            }
        }

        .tab-content {
            .main-product__item {
                padding-left: 30px;
                margin-bottom: 30px;

                @media (max-width: 575.98px) {
                    padding: 0;
                }

                a {
                    display: block;
                    text-decoration: none;


                    .main-product__item__img {
                        text-align: center;
                        background-color: $background-color;

                        @media (max-width: 589.98px) {
                            padding: 10px 0;
                        }

                        &.out {
                            opacity: .5;
                        }

                        &.label {
                            position: relative;
                        }

                        span {
                            width: 50px;
                            height: 50px;
                            padding: 12px 8px 10px 9px;
                            border: 1px solid;
                            border-radius: 50%;
                            font-size: 1.1rem;
                            font-family: 'Montserrat', sans-serif;
                            text-transform: uppercase;
                            position: absolute;
                            top: -9px;
                            left: -7px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            font-weight: 600;

                            &.save {
                                border-color: $label-color;
                                color: $label-color;
                            }

                            &.out {
                                border-color: $primary-color;
                                color: $primary-color;
                            }
                        }



                        img {
                            width: 100%;
                            height: auto;
                            margin: auto;

                            @media (max-width: 589.98px) {
                                max-width: 219.6417445482866px;
                            }
                        }
                    }

                    .main-product__item__info {
                        padding: 13px 0;
                        color: $primary-color;
                        text-align: center;

                        .item-info__name {
                            font-size: 2rem;
                            font-family: 'Arapey', sans-serif;
                            font-style: italic;
                        }

                        .item-info__price {
                            font-size: 1.4rem;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}