.home {
    margin-top: 90px;
    padding-bottom: 40px;

    @media (max-width: 767.98px) {
        margin-top: 45px;
    }

    @media (max-width: 589.98px) {
        padding-bottom: 0;
    }

    &__paragraph {
        // padding-left: 30px;
        margin-bottom: 15px;

        .paragraph {
            // padding-left: 30px;
            margin: auto;
            width: 66.66%;

            @media (max-width: 589.98px) {
                width: 100%;
            }
        }
    }

    &__feature {
        margin-top: 90px;

        @media (max-width: 767.99px) {
            margin-top: 45px;
        }

        &__content {

            .home-feature__wraps {
                padding: 0px 15px;
                margin-bottom: 30px;

                .home-feature__item {
                    display: block;
                    height: 310px;
                    text-decoration: none;
                    overflow: hidden;

                    .home-feature__item__inner {
                        height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition: $transition-time;

                        &:hover {
                            transform: scale(1.05);

                            .item-inner__modal {
                                background-color: rgba(#000000, .6);
                            }
                        }

                        .item-inner__modal {
                            height: 100%;
                            background-color: rgba(#000000, .3);
                            display: flex;
                            transition: $transition-time;
                            text-align: center;

                            span {
                                margin: auto;
                                font-size: 3.4rem;
                                font-family: 'Arapey', sans-serif;
                                font-style: italic;
                                color: $white-color;
                            }
                        }
                    }
                }

            }

        }
    }

    &__collection {
        margin-top: 60px;

        .home__collection__content {
            .home-collection__item {
                height: auto;
                padding: 0px 15px;
                margin-bottom: 30px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;

                    .home-collection__item__img {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        background-color: $background-color;

                        img {
                            margin: auto;
                            max-width: 100%;
                            height: auto;
                        }
                    }

                    .home-collection__item__info {
                        text-align: center;
                        padding: 13px 0;
                        color: $primary-color;

                        .collection-item__name {
                            font-size: 2rem;
                            font-family: 'Arapey', sans-serif;
                            font-style: italic;
                        }

                        .collection-item__price {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1.4rem;
                            color: $primary-color;
                            font-weight: 600;

                        }
                    }
                }
            }
        }
    }

    &__contact {
        margin-top: 90px;
        padding: 60px 0;
        background-color: $background-color;

        @media (max-width: 767.98px) {
            margin-top: 45px;
            padding: 30px 0;
        }

        &__form {
            .contact-form__title {
                margin-bottom: 50px;

                h1 {
                    margin-bottom: 12px;
                }
            }

            form {
                max-width: 520px;
                margin: 0 auto;

                .contact-form__input {
                    // text-align: center;
                    display: flex;
                    padding: 10px;
                    background-color: $white-color;

                    .btn__icon {
                        @media (min-width: 590px) {
                            display: none;
                        }

                        @media (max-width: 589.98px) {
                            display: block;
                        }
                    }

                    .btn__text {
                        @media (min-width: 590px) {
                            display: block;
                        }

                        @media (max-width: 589.98px) {
                            display: none;
                        }
                    }

                    input {
                        flex: 1;
                        padding: 8px 10px;
                        border: none;
                        font-family: 'Arapey', sans-serif;
                        font-style: italic;
                        font-size: 2.1rem;
                        background-color: $white-color;
                        color: $primary-color !important
                    }
                }
            }
        }
    }

    .product {
        @media (max-width: 589.98px) {
            margin-top: 0;
        }

        &__content {
            @media (max-width: 589.98px) {
                padding: 0;
            }
        }
    }

}