.cart {
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    width: $sidebar-width;
    height: 100%;
    transform: translateX(100%);
    // transform: translateX(0);
    background-color: $primary-color;
    transition: $transition-time;
    // opacity: 1;
    padding: 0 30px 30px 30px;

    @media (max-width: 589.98px) {
        width: 300px
    }

    &.active {
        transform: translateX(0);
        margin-left: 30px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        font-family: 'Old Standard TT', sans-serif;
        font-size: 2.4rem;
        color: $white-color;

        button {
            background-color: transparent;
            color: $white-color;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    p {
        font-size: 1.6rem;
        font-family: 'Arapey', sans-serif;
        color: $white-color;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__body {
        height: auto;
        overflow: auto;

        .cart__body__item {
            .cart-item__wraps {
                display: flex;
                width: 100%;

                &__img {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &__body {
                    padding-left: 15px;
                    width: 100%;

                    .item__name {
                        a {
                            text-decoration: none;
                            font-size: 1.7rem;
                            font-family: 'Arapey', sans-serif;
                            font-style: italic;
                            color: $white-color;
                        }
                    }

                    .item__type {
                        padding-top: 3px;
                        font-family: 'Arapey', sans-serif;
                        font-size: 1.6rem;
                        font-style: italic;
                        color: $white-color;
                    }

                    .item__info {
                        user-select: none;
                        width: 100%;
                        color: $white-color;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            cursor: pointer;
                            margin: 0 7px 0 0;
                        }

                        input {
                            max-width: 22px;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            color: $white-color;
                            // padding-left: 7px;
                            font-size: 1.6rem;
                            font-family: 'Arapey', sans-serif;
                            font-weight: 600;
                        }

                        .item__info__price {
                            font-size: 1.3rem;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 600;
                        }
                    }
                }
            }

        }
    }

    &__footer {
        padding-bottom: 60px;

        &__subtotal {
            display: flex;
            justify-content: space-between;
            font-size: 1.6rem;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            color: $white-color;
        }

        &__note {
            p {
                font-size: 1.6rem;
                font-family: 'Arapey', sans-serif;
                margin-bottom: 15px;
                color: $white-color;
                font-size: 400;
            }
        }

        &__button {}
    }

}