.contact {
    margin-bottom: 40px;

    .contact__content {
        width: 80%;
        margin: auto;

        @media (max-width: 768px) {
            width: 100%;

        }

        .contact__content__paragraph {
            margin-left: 30px;
            margin-bottom: 25px;

            @media (max-width: 768px) {
                margin-left: 0;

            }

            img {
                max-width: 120%;
                margin-left: -10%;

                @media (max-width: 768px) {
                    width: 100%;
                    margin: 0;
                }
            }

            .contact-paragraph__item {
                display: flex;
                justify-content: space-between;
                font-family: 'Arapey', sans-serif;
                font-size: 1.6rem;
                margin-bottom: 10px;

                &--border {
                    padding: 10px;
                    margin-bottom: 50px !important;

                    span {
                        width: 100%;
                        height: 1px;
                        background-color: $primary-color;
                    }
                }

                span {
                    font-style: italic;
                }

                a {
                    color: $label-color
                }

                p {
                    margin: 0;
                }
            }

            h3 {
                margin: 38px 0;
            }

            .form-group--contact {
                text-align: right;
            }
        }
    }
}