.extra-page {
    .extra-page__title {
        margin-bottom: 70px;

        @media (max-width: 589.98px) {
            margin-bottom: 30px;
            ;
        }
    }

    .extra-page__content {
        width: 80%;
        margin: auto;
        color: $primary-color;

        @media (max-width: 767.98px) {
            width: 100%;
            padding: 0 15px;
        }

        h5 {
            font-size: 1.6rem;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 32px;
            font-weight: 600;
            letter-spacing: .1em;
            text-transform: uppercase;
            line-height: 2rem;
        }

        p {
            font-size: 1.6rem;
            font-family: 'Arapey', sans-serif;
            margin-bottom: 25px;
        }
    }
}