.checkout {
    font-family: 'Roboto', sans-serif;
    height: 100vh;

    .checkout__part {
        &--form {
            display: flex;
            justify-content: flex-end;

            .checkout__part__inner {
                width: 52%;
                padding: 56px 66px 0 0;
                border-right: 1px solid #727272e6;

                .checkout-inner__title {
                    padding-bottom: 28px;

                    a {
                        text-decoration: none;
                        color: #333;
                        font-family: 'Roboto', sans-serif;
                    }

                    .title__breadcrum {
                        font-size: 1.2rem;
                        font-family: 'Roboto', sans-serif;

                    }
                }

                .checkout-inner__form {
                    padding-bottom: 56px;

                    .form-group {
                        margin-bottom: 28px;

                        .form-group__title {
                            font-size: 1.8rem;
                            // text-transform: uppercase;
                            padding-bottom: 20px;

                            h2 {
                                margin: 0;
                                font-weight: 400;
                            }
                        }

                        .form-group__label {
                            label {
                                font-size: 1.3rem;

                                span {
                                    display: inline-block;
                                }

                                .form-group__label__checkbox {
                                    // display: block;
                                    width: 18px;
                                    height: 18px;
                                    background-color: $white-color;
                                    border-radius: 3px;
                                    border: 2px solid $label-color;
                                    display: inline-flex;

                                    i {
                                        color: $white-color;
                                        margin: auto;
                                    }

                                    &.active {
                                        background-color: $label-color;
                                    }
                                }
                            }
                        }

                        .form-control {
                            padding: 13px 11px;
                            font-size: 1.3rem;
                            margin-bottom: 10px;
                            font-family: inherit;
                            font-style: normal;

                            .btn {
                                letter-spacing: unset !important;
                                margin-bottom: 30px;
                            }
                        }
                    }
                }

                .checkout-inner__auth {
                    padding: 14px 0;
                    font-family: inherit;
                    font-size: 1.2rem;
                }
            }
        }



        &--cart {
            background-color: #f5f5f5;
            height: 100%;

            .checkout-cart__inner {
                width: 48%;
                padding: 56px 0 0 44px;

                .checkout-cart__product {

                    .checkout-cart__product__item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .cart-product__info {
                            display: flex;
                            align-items: center;

                            .cart-product__info__img {
                                width: 64.39px;
                                height: 64.39px;
                                border-radius: 6px;
                                text-align: center;
                                background-color: $white-color;
                                position: relative;

                                span {
                                    display: block;
                                    position: absolute;
                                    top: -10px;
                                    right: -10px;
                                    width: 21px;
                                    height: 21px;
                                    border-radius: 50%;
                                    background-color: #727272;
                                    color: $white-color;
                                }

                                img {
                                    height: 100%;
                                    width: auto;
                                }
                            }

                            .cart-info__wraps {
                                padding-left: 14px;
                                font-family: 'Roboto', sans-serif;
                                // display: flex;
                                // align-items: center;

                                .cart-product__info__name {
                                    h3 {
                                        font-family: inherit;
                                        font-size: 1.4rem;
                                        margin: 0;
                                        font-weight: 600;
                                    }
                                }

                                .cart-product__info__type {
                                    h4 {
                                        font-family: inherit;
                                        font-size: 1.2rem;
                                    }
                                }

                            }
                        }

                        .cart-product__price {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.4rem;
                        }
                    }
                }

                .checkout-cart__info {
                    table {
                        width: 100%;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.4rem;

                        td {
                            padding-top: 10.5px;
                        }
                    }
                }

                .checkout-cart__total {
                    .checkout-cart__total__inner {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-family: 'Roboto', sans-serif;

                        h3 {
                            font-size: 1.6rem;
                            margin: 0;
                        }

                        .total-inner__price {

                            span {
                                font-size: 1.2rem;
                            }

                            p {
                                display: inline-block;
                                font-size: 2.4rem;
                                font-weight: 500;
                            }
                        }
                    }
                }

            }
        }
    }
}