.main-blog {
    width: 83.333%;
    margin: auto;

    @media (max-width: 767.98px) {
        width: 100%;
    }

    .main-blog__title {
        @media (max-width: 568px) {
            margin-bottom: 15px;
        }

        .paragraph {

            span {
                display: block;
                padding-bottom: 40px;
                font-style: italic;
            }
        }
    }

    .main-blog__body {
        .blog-body__item {

            .blog-body__item__img {
                padding-left: 30px;

                @media (max-width: 767.98px) {
                    padding: 0;
                }

                img {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }

            .blog-body__item__content {
                padding-left: 10%;
                display: flex;

                @media (max-width: 767.98px) {
                    padding: 0;
                    flex-direction: column;
                }

                .blog-content__date {
                    padding-left: 30px;
                    width: 20%;

                    @media (max-width: 767.98px) {
                        padding: 0;
                        margin-bottom: 25px;
                    }

                    @media (max-width: 568px) {
                        width: 100%;
                    }
                }

                .blog-content__body {
                    padding-left: 30px;
                    width: 70%;

                    @media (max-width: 767.98px) {
                        padding: 0;
                        width: 100%;
                    }

                    .blog-content__body__title {
                        margin-bottom: 11px;

                        a {
                            text-decoration: none;
                            color: unset;
                        }
                    }

                    .blog-content__body__desc {
                        margin-bottom: 15px;

                        p {
                            margin: 0;
                            font-size: 1.6rem;
                            font-family: 'Arapey', sans-serif;
                            line-height: 2.6rem;

                            @media (max-width: 567.98px) {
                                text-align: center;
                            }
                        }
                    }

                    .blog-content__body__link {
                        @media (max-width: 567.98px) {
                            text-align: center;
                        }

                        a {
                            font-size: 1.6rem;
                            font-family: 'Arapey', sans-serif;
                            text-decoration: none;
                            color: $label-color;
                        }
                    }
                }
            }

            .blog-body__item__details {
                .blog-details--paragraph {
                    padding-left: 10%;
                    width: 93%;
                    margin-bottom: 25px;

                    @media (max-width: 767.98px) {
                        width: 100%;
                        padding: 0;
                    }
                }

                .blog-details--quote {
                    padding: 15px 0 40px;
                }
            }

            .blog-body__item__comment {
                .blog-comment__title {}

                .blog-comment__body {
                    .comment__item {
                        display: flex;
                        padding-left: 10%;

                        @media (max-width: 767.98px) {
                            flex-direction: column;
                            padding: 0;
                        }

                        .comment__item__info {
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: $primary-color;
                            width: 15%;

                            @media (max-width: 767.98px) {
                                width: 100%;
                            }

                            .comment-info__name {
                                font-style: italic;
                                font-size: 1.6rem;
                                letter-spacing: .1em;
                            }

                            .comment-info__date {
                                font-size: 1.2rem;
                                letter-spacing: .1em;
                            }
                        }

                        .comment__item__content {
                            padding-left: 30px;

                            @media (max-width: 767.98px) {
                                padding: 0;
                            }

                            p {
                                width: 80%;
                                margin-bottom: 0;
                                font-size: 1.6rem;
                                font-family: 'Arapey', sans-serif;

                                @media (max-width: 767.98px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .blog-body__item__form {

                .item-form__input {
                    padding-left: 10%;
                    width: 91%;

                    @media (max-width: 768px) {
                        padding: 0;
                        width: 100%;
                    }
                }

                textarea {
                    min-height: 100px;
                }

                .item-form__note {
                    font-size: 1.6rem;
                    font-family: 'Arapey', sans-serif;
                    text-align: center;
                    color: $primary-color;
                    margin-bottom: 15px;
                }

                .item-form__button {
                    text-align: center;
                }

                .item-form__link {
                    margin: 100px 0;
                    text-align: center;

                    @media (max-width:590px) {
                        margin: 60px 0;
                    }

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: 'Montserrat', sans-serif;
                        letter-spacing: .1em;
                        color: $primary-color;
                        font-weight: 600;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}