.about {
    .about__content {
        .about__content__paragraph {
            width: 80%;
            margin: auto;
            padding-left: 30px;

            @media (max-width: 768px) {
                width: 100%;
                padding-left: 0px;
            }

            p {
                font-size: 1.6rem;
                font-family: 'Arapey', sans-serif;
                color: $primary-color;
                margin-bottom: 25px;
                padding-left: 30px;

                @media (max-width: 768px) {
                    padding: 0;
                }
            }

            img {
                max-width: 120%;
                margin-left: -10%;

                @media (max-width: 768px) {
                    width: 100%;
                    margin: 0;
                }
            }

            h3 {
                text-align: center;
                font-size: 2.3rem;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-weight: 600;
                margin: 57px 0 46px;
            }
        }
    }
}