.product {
    margin-top: 90px;

    &--details {
        .product__img {
            padding: 0;
        }
    }

    &__img {
        padding-left: 30px;


        img,
        video {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        &--list {
            @media (max-width: 568px) {
                max-width: 219.6417445482866px;
                margin: auto;
                padding: 0;
            }

            @media (max-width: 568px) {
                display: none;
            }
        }

        &--slide {
            display: none;

            @media (max-width: 568px) {
                width: 100% !important;
                display: block;
                margin-bottom: 36px;
            }

            .product__img__item {
                padding: 0 20px;

                img,
                video {
                    width: 100%;
                    height: auto;
                }
            }

            .product__img__control {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: $primary-color;
                }

                ul {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        width: 10px;
                        height: 10px;
                        border: 2px solid $primary-color;
                        border-radius: 50%;
                        margin: 0 4px;

                        &.slick-active {
                            background-color: $primary-color;
                        }

                        button {
                            background-color: transparent;
                            border: none;
                            outline: none;
                            color: transparent;
                        }
                    }
                }
            }
        }
    }

    &__content {
        padding: 0 45px 0 25px;

        &__title {
            margin-bottom: 20px;

        }

        &__button {
            padding-bottom: 35px;
            text-align: center;

            a {
                @media (max-width: 1047.98px) {
                    margin-bottom: 10px;
                }
            }
        }

        &__type {
            .product-type__label {
                font-size: 1.6rem;
                font-family: 'Arapey', sans-serif;
                color: $primary-color;
                text-align: center;
                margin-bottom: 10px;
            }

            .product-type__button {
                padding-bottom: 30px;

                ul {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wraps;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        margin: 4px;

                        button {
                            // padding: 9px 11px;

                            border: none;
                            outline: none;
                            background-color: transparent;
                            font-size: 1.3rem;
                            font-family: 'Montserrat', sans-serif;
                            width: 33px;
                            height: 33px;
                            font-weight: 600;

                            &.active {
                                border: 1px solid $primary-color;
                                background-color: $background-color;
                            }
                        }
                    }
                }
            }
        }

        &__link {
            text-align: center;
            margin: 30px 0;

            a {
                font-family: 'Arapey', sans-serif;
                text-decoration: none;
                color: $label-color;
                font-size: 1.6rem;
            }
        }

        &__desc {
            margin: 40px 0 15px;
            font-family: 'Arapey', sans-serif;
            font-size: 1.6rem;
            color: $primary-color;

            p {
                margin-bottom: 20px;

                a {
                    color: $label-color;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
    }
}