---
layout: default
---
<!-- HERO START -->
<div class="hero">

    <!-- HEADER START -->
    <div class="header header--hero">
        {% include header.html %}
    </div>
    <!-- HEADER END -->

    <!-- SLIDE IMAGE START -->
    <div class="hero__slide">
        {% for item in site.data.hero-slide %}
        <!-- SLIDE ITEM START -->
        <div class="hero__slide__item hero-item" style="background-image:
            url({{item.img_path}});">
            <div class="hero-item__wraps">
                <div class="container container--wrapper
                    hero-item__wrap__container">
                    <div class="hero-item__wraps__container">
                        <div class="hero-item__wraps__inner item-inner">
                            <!-- SUBTITLE START -->
                            <div class="item-inner__subtitle">
                                <h2>
                                    {{item.sub_title}}
                                </h2>
                            </div>
                            <!-- SUBTITLE END -->

                            <!-- TITLE START -->
                            <div class="item-inner__title">
                                <h2>
                                    {{item.title}}
                                </h2>
                            </div>
                            <!-- TITLE END -->

                            <!-- BUTTON START -->
                            <div class="item-inner__button">
                                <a href="#" class="btn btn--small btn--primary
                                    btn--custom">
                                    {{item.button}}
                                </a>
                            </div>
                            <!-- BUTTON END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SLIDE ITEM END -->
        {% endfor %}
    </div>
    <!-- SLIDE IMAGE END -->

    <!-- SLIDE BUTTON START -->
    <div class="hero__slide__button">
        <div class="container container--wrapper">
            <div class="hero-item__wraps__dots dots">
                <button id="slick-prev">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </button>

                <div class="dots__point" id="dots-point"></div>

                <button id="slick-next">
                    <i class="fas fa-long-arrow-alt-right"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- SLIDE BUTTON END -->

</div>
<!-- HERo END -->


{{content}}
