main {
    transition: $transition-time;

    @media (max-width: 589.98px) {
        $sidebar-width: 300px
    }

    &.active-right {
        // $sidebar-width: 500px;
        transform: translateX(-$sidebar-width);

        @media (max-width: 589.98px) {
            transform: translateX(-300px);
        }
    }

    &.active-left {
        // $sidebar-width: 500px;
        transform: translateX($sidebar-width);

        @media (max-width: 589.98px) {
            transform: translateX(300px);
        }
    }

    .header-sidebar__modal {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: none;
        background-color: rgba(#000, .3);

        &.active {
            display: block;
        }
    }
}