.hero {
    position: relative;

    .hero__slide__button {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;

        .hero-item__wraps__dots {
            display: flex;
            justify-content: space-between;

            .dots__point {
                ul {
                    list-style: none;
                    display: flex;

                    li {
                        max-width: 10px;
                        max-height: 10px;
                        border: 2px solid $white-color;
                        border-radius: 50%;
                        margin: 0 4px;

                        button {
                            color: transparent;
                        }

                    }

                    .slick-active {
                        background-color: $white-color;
                    }
                }
            }

            button {
                background-color: transparent;
                border: none;
                outline: none;

                i {
                    color: $white-color
                }
            }
        }
    }

    &__slide {

        .hero__slide__item {
            height: 100vh;
            background-position: center top;

            @media (max-width: 589.98px) {
                height: 50vh;
            }

            .container {
                height: 100%;

                &--wrapper {
                    max-width: 1050px;
                }
            }

            .hero-item__wraps {
                height: 100%;
                background-color: rgba(#000000, .3);

                .hero-item__wraps__container {
                    height: 100%;
                    display: flex;
                }

                .hero-item__wraps__inner {
                    margin: auto;
                    text-align: center;

                    h2 {
                        color: $white-color;
                        user-select: false;

                    }

                    .item-inner__subtitle {
                        margin-bottom: 15px;

                        h2 {
                            font-size: 1.8rem;
                            font-family: 'Montserrat', sans-serif;
                            margin: 0;
                            text-transform: uppercase;
                            letter-spacing: .1em;
                            font-weight: 600;
                        }
                    }

                    .item-inner__title {
                        margin-bottom: 20px;

                        h2 {
                            font-family: 'Old Standard TT', sans-serif;
                            font-size: 6.4rem;
                            color: $white-color;
                            margin: 0;
                        }
                    }

                    .item-inner__button {}

                }
            }
        }
    }
}